.card {
  width: 20rem;
  height: 32rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__content {
  background: hsla(0, 0%, 24%, 0.95);
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  text-align: center;
  color: var(--c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  padding: 1rem;
}

.card:hover .card__content {
  top: 0;
}

.card__content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card__content h3 {
  margin-top: 2rem;
}

.card__technologies {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 1.5rem 0;
}

.card__technologies li {
  list-style: none;
}

.card__content--btns {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
}

.btn {
  color: var(--c-white);
  text-decoration: none;
  background: var(--c-herb);
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: 500;
}

.btn--outline {
  background: var(--c-white);
  color: var(--c-herb);
}

.btn:hover {
  background: var(--c-herb-light);
}

.btn--outline:hover {
  color: var(--c-white);
  background: var(--c-herb-light);
}
