.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c-charcoal);
}

.header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message {
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: 70%;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.form label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.form input {
  margin-bottom: 0.75rem;
  height: 2rem;
}

.form textarea {
  height: 10rem;
  margin-bottom: 2.5rem;
}

.confirmation-msg {
  margin-top: 1rem;
}
