.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--c-charcoal);
}

.header {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.message {
  font-weight: 500;
  margin-bottom: 1.5rem;
  width: 70%;
  text-align: center;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    to right bottom,
    var(--c-terracotta-light),
    var(--c-terracotta)
  );
}

.form label {
  color: var(--c-white);
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.form input {
  margin-bottom: 0.75rem;
  height: 2rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.75rem;
}

.form textarea {
  height: 10rem;
  margin-bottom: 2rem;
  border: none;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0.75rem;
}

.confirmation-msg {
  margin: 1rem;
}

.form input:focus,
.form textarea:focus {
  outline: none;
}

@media (max-width: 1200px) {
  .contact {
    height: auto;
  }
}

@media (max-width: 768px) {
  .header {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .form {
    margin-bottom: 2rem;
    width: 20rem;
  }

  .message {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .form label {
    font-size: 0.9rem;
  }

  .form input {
    height: 1.5rem;
  }

  .form textarea {
    height: 7.5rem;
    margin-bottom: 1.5rem;
  }
}
