.navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: var(--c-chilli);
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .navbar {
    align-content: center;
  }
}
